.btn-default {
    color: #fff;
    border-color: #5e72e4;
    background-color: #5e72e4;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.btn-default:hover {
    background-color: #586CE3;
    border-color: #5e72e4;
}

.input-group .form-control:not(:first-child) {
    padding-left: 10px;
    border-left: 0;
}

.progress {
    height: 15px;
    font-size: 10px;
}

.progress-bar {
  background-color: #919feb;
}

.form-control {
    height: calc(2.57rem);
}

.disabled .btn-default {
    background-color: #5f6585;
    border-color: gray;
    color: #c3c6d6;
}

#data_cols ~ .selectize-control .selectize-input {
  max-height: 100px;
  overflow-y: auto;
}

#data_cols ~ .selectize-control .item {
  background-color: gray;
  color: white;
  font-size: .875rem;
  font-weight: 500;
}
